


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Plain Light";
    color : #fff;
}

html, body{
    width: 100%;
    height: 100%;
}

#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.771);
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0a0a0a;
    padding: 25vh 8vw;

}
.line{
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1Part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}
#line1Part1 h5, #line1Part1 h6{
    font-size: 3.5vw;
    font-weight: 100;
    font-family: "silk serif";
}
#line1Part1 h5{
    width: 5vw;
    /* background-color: red; */
    text-align: right;
}

.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    height: fit-content;
    overflow: hidden;
}
.line h2{
    font-size: 5.4vw;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animateNow {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}





#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #191919;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 5vw;
}

#navPart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#navPart2 h4{
    font-size: 1.19vw;
    font-weight: 500;
}

.page1CLines{
    /* background-color: red; */
    width: 72.5%;
    margin-left: 27.5%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.page1CLines:nth-child(2){
    margin-top: 8vh;
}
.page1CLines h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.3vw;
    font-weight: 600;
    letter-spacing: 0.3vw;
}
 .page1CLines h2{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.3vw;
    font-weight: 600;
    letter-spacing: 0.3vw;
}

.page1CLines h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 300;
}